<div class="container">
  <form #productForm="ngForm" (ngSubmit)="productCreated(productForm.value); productForm.reset()">
    <div class="">
      <label for="pImg">Image URL</label><br>
      <input type="text" name="pImgUrl" ngModel>
    </div>

    <div>
      <label for="pName">Product Name</label><br>
      <input type="text"  name="pName" ngModel>
    </div>

    <div>
      <label for="pDesc">Product Desctiption</label><br>
      <input type="text"  name="pDesc" ngModel>
    </div>

    <div>
      <label for="pPrice">Product Price</label><br>
      <input type="text"  name="pPrice" ngModel>
    </div>

    <input type="submit" value="Create New Product" (click)="getAllProducts()">
  </form>

  <div class="product-card" *ngFor="let product of products; index as i">
    <h3>ID: {{i + 1}}</h3>
    <div class="forPimg"><img src="{{product.pImgUrl}}"></div>
    <div class="forPname"><p>{{product.pName}}</p></div><hr>
    <div class="forPdesc"><p>{{product.pDesc}}</p></div><hr>
    <div class="forPprice"><p>{{product.pPrice}} <a>$</a></p> <button (click)="onProductDelete(product.id)">DELETE</button></div>

  </div>

</div>
